body {
  margin: 0;
  height: 100vh;
  background-color: #a5ccdf;
}

.container {
  width: 50%;
  margin: 8em auto;
  text-align: center;
}

.container h1 {
  font-family: "Homemade Apple", cursive;
  font-size: 4em;
  margin-top: 0em;
  font-weight: bold;
}

.container p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.4em;
  width: 60%;
  margin: 0 auto;
}

.snow {
  width: 40%;
}

snow-container {
  position: relative;
}

.snowflake1, .snowflake2, .snowflake3 {
  position: absolute;
  -webkit-filter: drop-shadow(2px -1px 7px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(2px -1px 7px rgba(0, 0, 0, 0.5));
}

.snowflake1 {
  top: 25%;
  left: 41%;
  width: 3%;
  -webkit-transform: rotate(100deg);
          transform: rotate(100deg);
  animation: snowflake1 3s infinite alternate-reverse;
}

.snowflake2 {
  top: 20%;
  left: 49%;
  width: 3%;
  -webkit-transform: rotate(100deg);
          transform: rotate(100deg);
  animation: snowflake1 4s infinite alternate-reverse ease-in-out;
}

.snowflake3 {
  top: 35%;
  left: 54%;
  width: 3%;
  -webkit-transform: rotate(100deg);
          transform: rotate(100deg);
  animation: snowflake1 5s infinite alternate-reverse ease-in-out;
}

@-webkit-keyframes snowflake1 {
  from {
    -webkit-transform: translateY(20px) rotate(100deg);
            transform: translateY(20px) rotate(100deg);
  }
  to {
    -webkit-transform: translateY(10px) rotate(120deg) spin(90deg);
            transform: translateY(10px) rotate(120deg) spin(90deg);
  }
}

@keyframes snowflake1 {
  from {
    -webkit-transform: translateY(20px) rotate(100deg);
            transform: translateY(20px) rotate(100deg);
  }
  to {
    -webkit-transform: translateY(10px) rotate(120deg) spin(90deg);
            transform: translateY(10px) rotate(120deg) spin(90deg);
  }
}

@-webkit-keyframes snowflake2 {
  from {
    -webkit-transform: translateY(20px) rotate(100deg);
            transform: translateY(20px) rotate(100deg);
  }
  to {
    -webkit-transform: translateY(10px) rotate(120deg) spin(90deg);
            transform: translateY(10px) rotate(120deg) spin(90deg);
  }
}

@keyframes snowflake2 {
  from {
    -webkit-transform: translateY(20px) rotate(100deg);
            transform: translateY(20px) rotate(100deg);
  }
  to {
    -webkit-transform: translateY(10px) rotate(120deg) spin(90deg);
            transform: translateY(10px) rotate(120deg) spin(90deg);
  }
}

@-webkit-keyframes snowflake3 {
  from {
    -webkit-transform: translateY(20px) rotate(100deg);
            transform: translateY(20px) rotate(100deg);
  }
  to {
    -webkit-transform: translateY(15px) rotate(130deg) spin(90deg);
            transform: translateY(15px) rotate(130deg) spin(90deg);
  }
}

@keyframes snowflake3 {
  from {
    -webkit-transform: translateY(20px) rotate(100deg);
            transform: translateY(20px) rotate(100deg);
  }
  to {
    -webkit-transform: translateY(15px) rotate(130deg) spin(90deg);
            transform: translateY(15px) rotate(130deg) spin(90deg);
  }
}
/*# sourceMappingURL=main.css.map */